* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 0.9rem;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 10px 10px 0 #ff00c8, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}

.container {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.profile .avatar {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile :hover .avatar {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.profile h2 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

.instagram {
  background-color: #6a0dad;
}

.youtube {
  background-color: #b40000;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.image-grid img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.image-grid img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.image-grid img:active {
  transform: scale(0.95);
}

.image-grid video {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ff00c8;
  box-shadow: 0 0 10px rgba(255, 0, 200, 0.5);
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.image-grid video:hover {
  transform: scale(1.10);
  transition: transform 0.3s;
}

.image-grid video:active {
  transform: scale(1.10);
}

.image-grid video:hover::after {
  transition: transform 5.9s;
  content: " ";
}

.image-grid video:hover{
  border: 1px solid #ff00c8;
  animation: border-glow 2s linear infinite;
  box-shadow: 0 0 20px #ff00c8, 0 0 40px #ff00b3;
}

@keyframes border-glow {
  0%, 100% {
    border-color: #ff00c8;
    box-shadow: 0 0 20px #ff00c8, 0 0 40px #ff00b3;
  }
  50% {
    border-color: #ff00b3;
    box-shadow: 0 0 40px #ff00aa, 0 0 60px #ff00c8;
  }
}

.icon-grid {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.icon-grid a {
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.icon-grid img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
  transition: transform 0.4s ease;
}

.icon-grid a:nth-child(1) { background-color: #0e76a8; } /* LinkedIn */
.icon-grid a:nth-child(2) { background-color: #053eff; } /* Behance */
.icon-grid a:nth-child(3) { background-color: #8B0000; } /* Pinterest */
.icon-grid a:nth-child(4) { background-color: #9146ff; } /* Twitch */
.icon-grid a:nth-child(5) { background-color: #ff0000; } /* YouTube */

.icon-grid a:hover {
  box-shadow: 0 8px 20px rgba(255, 0, 200, 0.2);
}

.icon-grid a:hover img {
  transform: translate(0, -10px);
}

.icon-grid a:active img {
  transform: translate(0, 20px);
}

.dicon {
  position: relative;
  width: 80px;
  height: 80px;
  perspective: 1000px;
  top: -800px;
  left: 40px;
}

.dicon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.dicon:hover img {
  transform: scale(1.1);
}

.dicon:active img {
  transform: scale(0.95);
}

.dicon{
  	-webkit-animation: dicon 1.0s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: dicon 1.0s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes dicon{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes dicon{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.dicon-2{
  position: relative;
  width: 80px;
  height: 80px;
  perspective: 1000px;
  top: -50px;
  left: 300px;
}

.dicon-2{
  	-webkit-animation: dicon-2 1.0s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: dicon-2 1.0s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes dicon{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes dicon{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}


.behance-grid {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.behance-grid iframe {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  border: none;
}

.behance-grid iframe:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.pinterest-grid {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.pinterest-grid img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.pinterest-grid img:hover {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ff00c8;
  box-shadow: 0 0 10px rgba(255, 0, 200, 0.5);
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.pinterest-grid img:hover {
  transform: scale(1.10);
  transition: transform 0.3s;
}

.pinterest-grid img:active {
  transform: scale(1.10);
}

.pinterest-grid img:hover::after {
  transition: transform 5.9s;
  content: " ";
}

.pinterest-grid img:hover{
  border: 1px solid #ff00c8;
  animation: border-glow 2s linear infinite;
  box-shadow: 0 0 20px #ff00c8, 0 0 40px #ff00b3;
}


.linkedin-grid {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.linkedin-grid a {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.linkedin-grid img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Responsivo
@media (max-width: 500px) {
  .image-grid {
    flex-direction: column;
  }

  .icon-grid {
    gap: 0.8rem;
  }

  .icon-grid a {
    width: 60px;
    height: 60px;
  }
  .dicon {
    top: -900px;
    left: 20px;
    width: 60px;
    height: 60px;
  }
  .dicon-2 {
    top: -50px;
    left: 300px;
    width: 60px;
    height: 60px;
  }

  .behance-grid {
    flex-direction: column;
    gap: 0.5rem;
  }
} */

@media (max-width: 800px) {
  .image-grid {
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .image-grid img,
  .image-grid video {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
  }
  
  .profile h2 {
    font-size: 1.1rem;
  }

  .behance-grid {
    display: flex;
    align-items: center !important;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }
  .behance-grid iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 300px;
  }

  .pinterest-grid {
    display: flex;
    align-items: center !important;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }
  .pinterest-grid img {
    width: 100px;
    height: 100px;
    max-width: 300px;
    border-radius: 10px;
  }

  .linkedin-grid {
    display: flex;
    align-items: center !important;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }

  .linkedin-grid a {
    width: 100px;
    height: 100px;
    max-width: 300px;
    border-radius: 10px;
  }


  .icon-grid {
    justify-content: center;
    gap: 0.5rem;
    align-items: center !important;
    height: auto;
  }

  .dicon{
    top: -600px;
    left: 20px;
    width: 60px;
    height: 60px;
  }

  .dicon-2 {
    top: -90px;
    left: 300px;
    width: 60px;
    height: 60px;
  }
}